@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


html{
    font-size: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact-header-con{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contact-description, .contact-header, .contact-info, .talk-to-header, .contact-icon, .email, .phone, .contact-send{
    color: #fff;
    font-family: Poppins;
}
.contact-description{
    font-size: 3em;
    font-weight: 600;
}
.contact{
    background-color: rgba(16, 37, 104, 0.9);
}
.contact-header{
    font-size: 1.5em;
    font-weight: 600;
}
.contact-info, .talk-to-header, .contact-icon, .email, .phone, .my-input, .my-textarea{
    font-size: 1em;
    word-wrap: break-word;
}
.talk-to-header{
    font-weight: 600;
}
.my-input{
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
}
.my-input::placeholder{
    color: #fff;
}
.my-textarea{
    resize: none;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
}
.contact-send{
    display: flex;
    margin-left: auto;
    background-color: transparent;
}


@media (max-width:768px){
    .contact-description{
        font-size: 6vw;
    }
}